<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <app-top></app-top>
    <app-treeview [indexNews]='indexNews'></app-treeview>
    <div class="content-wrapper" style="height:auto;">
      <app-navigation [indexNews]='indexNews'></app-navigation>
      <section class="content" id="content">
        
        <wj-flex-grid #flexgrid1 [itemsSource]="cvPaging" auto-generate-columns="false" [itemFormatter]="itemFormatter">
          <wj-flex-grid-column [header]="''" [binding]="'check'" [width]="35"></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'主键'" [binding]="'id'" [width]="0" [isReadOnly]="'true'" ></wj-flex-grid-column>
          <wj-flex-grid-column [header]="'用户组名称'" [binding]="'gname'" [width]="'*'" [isReadOnly]="'true'">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
              <div style="text-align:left;"><a [routerLink]="['/business_system/userinfo',cell.item.id]"><b>{{cell.item.gname}}</b></a></div>
            </ng-template>
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="'应用状态'" [binding]="'isdel'" [width]="80" [isReadOnly]="'true'" [align]="'center'">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
              <span [ngStyle]="{color:cell.item.isdel == 0 ?'green':'red'}">
                  {{cell.item.isdel==0?'启用':'禁用'}}
                </span>
            </ng-template>
          </wj-flex-grid-column>
          <wj-flex-grid-column [header]="'编辑状态'" [binding]="'islock'" [width]="80" [isReadOnly]="'true'" [align]="'center'">
            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
              <span [ngStyle]="{color:cell.item.islock == 0 ?'green':'red'}">
                  {{cell.item.islock==0?'可编辑':'已锁定'}}
                </span>
            </ng-template>
          </wj-flex-grid-column>

        </wj-flex-grid>
        <app-paging [pageNews]="this.pageNews" (change)="bindpage($event)"></app-paging>
        <div style="float:right;">
          <button type="button" class="btn btn-primary" (click)="addnew()" disabled="disabled">添加数据</button>
          <button type="button" class="btn btn-primary" (click)="edit()" disabled="disabled">编辑数据</button>
          <button type="button" class="btn btn-primary" (click)="dellList()" disabled="disabled">批量删除</button> &nbsp;&nbsp;&nbsp;
        </div>
        
      </section>
    </div>
    <app-footer></app-footer>
  </div>
</body>